# 도전! 데이터 분석
## 기초 통계량과 데이터 시각화를 통한 인사이트 도출 실습 과정입니다.

* 먼저, 데이터를 불러와서 구조와 변수를 확인하겠습니다.
    * 제주도 내 상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터
    * 음면동, 업종명, 이용금액, 거주인구 등 정보 제공
    * 2019년 : raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_19.csv
    * 2020년 : raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_20(수정).csv
    * 2021년(1월_5월): raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_(2101~2105).csv

#### 1. 2019년 데이터 불러오기 및 살펴보기

In [1]:
# 필요한 라이브러리 Import
import pandas as pd

# 데이터 불러오기
df_2019 = pd.read_csv('raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_19.csv', encoding = 'cp949')

In [2]:
# 데이터 확인
df_2019

,년월,시도명,읍면동명,업종명,성별,이용자수,이용금액,거주인구,근무인구,방문인구,데이터기준일자
0,2019-01-01,제주시,화북동,과실 및 채소 소매업,여성,155,11202300,9078626.288,539749.963,2866049.927,2020-12-15
1,2019-01-01,제주시,화북동,비알콜 음료점업,여성,1184,9674400,9078626.288,539749.963,2866049.927,2020-12-15
2,2019-01-01,제주시,화북동,기타 외국식 음식점업,여성,412,14592800,9078626.288,539749.963,2866049.927,2020-12-15
3,2019-01-01,제주시,화북동,기타 대형 종합 소매업,여성,4176,168038410,9078626.288,539749.963,2866049.927,2020-12-15
4,2019-01-01,제주시,화북동,관광 민예품 및 선물용품 소매업,여성,99,7165200,9078626.288,539749.963,2866049.927,2020-12-15
...,...,...,...,...,...,...,...,...,...,...,...
27411,2019-12-01,제주시,화북동,한식 음식점업,여성,5163,170629710,7706780.511,895520.731,3674034.647,2020-12-15
27412,2019-12-01,제주시,화북동,화장품 및 방향제 소매업,여성,187,14738370,7706780.511,895520.731,3674034.647,2020-12-15
27413,2019-12-01,제주시,봉개동,한식 음식점업,남성,2046,62019240,1461151.063,489270.669,1861857.723,2020-12-15
27414,2019-12-01,제주시,화북동,차량용 가스 충전업,여성,367,14734053,7706780.511,895520.731,3674034.647,2020-12-15
27415,2019-12-01,제주시,화북동,차량용 주유소 운영업,여성,3059,146455990,7706780.511,895520.731,3674034.647,2020-12-15

In [ ]:
# 전체 데이터 수는? : 27416 
# 변수의 수는? : 11

In [3]:
# 위에 5개 행 확인하기
df_2019.head(5)

,년월,시도명,읍면동명,업종명,성별,이용자수,이용금액,거주인구,근무인구,방문인구,데이터기준일자
0,2019-01-01,제주시,화북동,과실 및 채소 소매업,여성,155,11202300,9078626.288,539749.963,2866049.927,2020-12-15
1,2019-01-01,제주시,화북동,비알콜 음료점업,여성,1184,9674400,9078626.288,539749.963,2866049.927,2020-12-15
2,2019-01-01,제주시,화북동,기타 외국식 음식점업,여성,412,14592800,9078626.288,539749.963,2866049.927,2020-12-15
3,2019-01-01,제주시,화북동,기타 대형 종합 소매업,여성,4176,168038410,9078626.288,539749.963,2866049.927,2020-12-15
4,2019-01-01,제주시,화북동,관광 민예품 및 선물용품 소매업,여성,99,7165200,9078626.288,539749.963,2866049.927,2020-12-15

In [4]:
# 아래에 5개 행 확인하기
df_2019.tail(5)

,년월,시도명,읍면동명,업종명,성별,이용자수,이용금액,거주인구,근무인구,방문인구,데이터기준일자
27411,2019-12-01,제주시,화북동,한식 음식점업,여성,5163,170629710,7706780.511,895520.731,3674034.647,2020-12-15
27412,2019-12-01,제주시,화북동,화장품 및 방향제 소매업,여성,187,14738370,7706780.511,895520.731,3674034.647,2020-12-15
27413,2019-12-01,제주시,봉개동,한식 음식점업,남성,2046,62019240,1461151.063,489270.669,1861857.723,2020-12-15
27414,2019-12-01,제주시,화북동,차량용 가스 충전업,여성,367,14734053,7706780.511,895520.731,3674034.647,2020-12-15
27415,2019-12-01,제주시,화북동,차량용 주유소 운영업,여성,3059,146455990,7706780.511,895520.731,3674034.647,2020-12-15

In [5]:
# 데이터셋의 변수명, 변수 유형 확인하기
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27416 entries, 0 to 27415
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       27416 non-null  object
 1   시도명      27416 non-null  object
 2   읍면동명     27416 non-null  object
 3   업종명      27416 non-null  object
 4   성별       27416 non-null  object
 5   이용자수     27416 non-null  int64
 6   이용금액     27416 non-null  int64
 7   거주인구     27416 non-null  float64
 8   근무인구     27416 non-null  float64
 9   방문인구     27416 non-null  float64
 10  데이터기준일자  27416 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 2.3+ MB

In [ ]:
# 질적변수는? :
# 양적변수는? :

In [7]:
# 결측치 확인
missing_values = df_2019.isnull().sum()
print(missing_values)

년월         0
시도명        0
읍면동명       0
업종명        0
성별         0
이용자수       0
이용금액       0
거주인구       0
근무인구       0
방문인구       0
데이터기준일자    0
dtype: int64

In [8]:
# 년월 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2019['년월'].unique())
print("고유값 갯수 :", len(df_2019['년월'].unique()))

고유값 : ['2019-01-01' '2019-02-01' '2019-03-01' '2019-04-01' '2019-05-01'
 '2019-06-01' '2019-07-01' '2019-08-01' '2019-09-01' '2019-10-01'
 '2019-11-01' '2019-12-01']
고유값 갯수 : 12

In [9]:
# 시도명 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2019['시도명'].unique())
print("고유값 갯수 :", len(df_2019['시도명'].unique()))

고유값 : ['제주시' '서귀포시']
고유값 갯수 : 2

In [ ]:
# 읍면동명 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2019['읍면동명'].unique())
print("고유값 갯수 :", len(df_2019['읍면동명'].unique()))

In [ ]:
# 업종명 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2019['업종명'].unique())
print("고유값 갯수 :", len(df_2019['업종명'].unique()))

In [ ]:
# 성별 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2019['성별'].unique())
print("고유값 갯수 :", len(df_2019['성별'].unique()))

In [ ]:
# 데이터셋의 양적 변수 기초통계량 확인하기
df_2019.describe()

In [ ]:
# 출력 옵션 설정
pd.options.display.float_format = '{:.0f}'.format
# 데이터셋의 양적 변수 기초통계량 확인하기
df_2019.describe()

#### 2. 2020년 데이터 불러오기 및 살펴보기(실습)
* 2020년 : raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_20(수정).csv

In [13]:
# 필요한 라이브러리 Import
import pandas as pd

# 데이터 불러오기
df_2020 = pd.read_csv('raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_20(수정).csv', encoding = 'cp949')

In [14]:
# 데이터 확인
df_2020

,년월,시도명,읍면동명,업종명,성별,이용자수,이용금액,거주인구,근무인구,방문인구,데이터기준일자
0,2020-01-01,서귀포시,남원읍,골프장 운영업,남성,1980,297727940,4.869067e+06,444319.725,3304302.997,2020-12-15
1,2020-01-01,제주시,외도동,수산물 소매업,남성,75,4657000,3.651449e+06,197093.412,1837113.079,2020-12-15
2,2020-01-01,제주시,오라동,중식 음식점업,남성,283,9340000,4.759442e+06,595571.433,4993516.699,2020-12-15
3,2020-01-01,제주시,오라동,자동차 임대업,남성,293,16523986,4.759442e+06,595571.433,4993516.699,2020-12-15
4,2020-01-01,제주시,오라동,스포츠 및 레크레이션 용품 임대업,남성,407,37918500,4.759442e+06,595571.433,4993516.699,2020-12-15
...,...,...,...,...,...,...,...,...,...,...,...
26933,2020-12-01,서귀포시,천지동,건강보조식품 소매업,남성,31,4654100,3.266401e+05,36434.368,629487.114,2021-07-26
26934,2020-12-01,서귀포시,천지동,건강보조식품 소매업,여성,25,3073660,2.702654e+05,28777.808,551171.003,2021-07-26
26935,2020-12-01,서귀포시,천지동,과실 및 채소 소매업,남성,2561,93739250,3.266401e+05,36434.368,629487.114,2021-07-26
26936,2020-12-01,서귀포시,천지동,과실 및 채소 소매업,여성,2342,77394645,2.702654e+05,28777.808,551171.003,2021-07-26
26937,2020-12-01,제주시,화북동,화장품 및 방향제 소매업,여성,83,7820920,1.014567e+07,636525.333,2798815.052,2021-07-26

In [ ]:
# 전체 데이터 수는? : 26937
# 변수의 수는? : 11

In [15]:
# 위에 5개 행 확인하기
df_2020.head(5)

,년월,시도명,읍면동명,업종명,성별,이용자수,이용금액,거주인구,근무인구,방문인구,데이터기준일자
0,2020-01-01,서귀포시,남원읍,골프장 운영업,남성,1980,297727940,4869067.386,444319.725,3304302.997,2020-12-15
1,2020-01-01,제주시,외도동,수산물 소매업,남성,75,4657000,3651449.212,197093.412,1837113.079,2020-12-15
2,2020-01-01,제주시,오라동,중식 음식점업,남성,283,9340000,4759442.058,595571.433,4993516.699,2020-12-15
3,2020-01-01,제주시,오라동,자동차 임대업,남성,293,16523986,4759442.058,595571.433,4993516.699,2020-12-15
4,2020-01-01,제주시,오라동,스포츠 및 레크레이션 용품 임대업,남성,407,37918500,4759442.058,595571.433,4993516.699,2020-12-15

In [16]:
# 아래에 5개 행 확인하기
df_2020.tail(5)

,년월,시도명,읍면동명,업종명,성별,이용자수,이용금액,거주인구,근무인구,방문인구,데이터기준일자
26933,2020-12-01,서귀포시,천지동,건강보조식품 소매업,남성,31,4654100,3.266401e+05,36434.368,629487.114,2021-07-26
26934,2020-12-01,서귀포시,천지동,건강보조식품 소매업,여성,25,3073660,2.702654e+05,28777.808,551171.003,2021-07-26
26935,2020-12-01,서귀포시,천지동,과실 및 채소 소매업,남성,2561,93739250,3.266401e+05,36434.368,629487.114,2021-07-26
26936,2020-12-01,서귀포시,천지동,과실 및 채소 소매업,여성,2342,77394645,2.702654e+05,28777.808,551171.003,2021-07-26
26937,2020-12-01,제주시,화북동,화장품 및 방향제 소매업,여성,83,7820920,1.014567e+07,636525.333,2798815.052,2021-07-26

In [17]:
# 데이터셋의 변수명, 변수 유형 확인하기
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26938 entries, 0 to 26937
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       26938 non-null  object
 1   시도명      26938 non-null  object
 2   읍면동명     26938 non-null  object
 3   업종명      26938 non-null  object
 4   성별       26938 non-null  object
 5   이용자수     26938 non-null  int64
 6   이용금액     26938 non-null  int64
 7   거주인구     26938 non-null  float64
 8   근무인구     26938 non-null  float64
 9   방문인구     26938 non-null  float64
 10  데이터기준일자  26938 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 2.3+ MB

In [ ]:
# 질적변수는? :
# 양적변수는? :

In [18]:
# 결측치 확인
missing_values = df_2020.isnull().sum()
print(missing_values)

년월         0
시도명        0
읍면동명       0
업종명        0
성별         0
이용자수       0
이용금액       0
거주인구       0
근무인구       0
방문인구       0
데이터기준일자    0
dtype: int64

In [19]:
# 년월 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2020['년월'].unique())
print("고유값 갯수 :", len(df_2020['년월'].unique()))

고유값 : ['2020-01-01' '2020-02-01' '2020-03-01' '2020-04-01' '2020-05-01'
 '2020-06-01' '2020-07-01' '2020-08-01' '2020-09-01' '2020-10-01'
 '2020-11-01' '2020-12-01']
고유값 갯수 : 12

In [20]:
# 시도명 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2020['시도명'].unique())
print("고유값 갯수 :", len(df_2020['시도명'].unique()))

고유값 : ['서귀포시' '제주시']
고유값 갯수 : 2

In [21]:
# 읍면동명 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2020['읍면동명'].unique())
print("고유값 갯수 :", len(df_2020['읍면동명'].unique()))

고유값 : ['남원읍' '외도동' '오라동' '봉개동' '연동' '애월읍' '용담2동' '용담1동' '삼양동' '아라동' '삼도2동'
 '삼도1동' '우도면' '추자면' '조천읍' '일도2동' '한경면' '화북동' '한림읍' '이호동' '이도2동' '이도1동'
 '일도1동' '성산읍' '송산동' '대천동' '서홍동' '안덕면' '영천동' '예래동' '대륜동' '대정읍' '동홍동' '표선면'
 '천지동' '정방동' '건입동' '구좌읍' '효돈동' '도두동' '노형동' '중앙동' '중문동']
고유값 갯수 : 43

In [22]:
# 업종명 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2020['업종명'].unique())
print("고유값 갯수 :", len(df_2020['업종명'].unique()))

고유값 : ['골프장 운영업' '수산물 소매업' '중식 음식점업' '자동차 임대업' '스포츠 및 레크레이션 용품 임대업' '한식 음식점업'
 '체인화 편의점' '차량용 주유소 운영업' '차량용 가스 충전업' '화장품 및 방향제 소매업' '일반유흥 주점업' '육류 소매업'
 '욕탕업' '여행사업' '여관업' '슈퍼마켓' '피자, 햄버거, 샌드위치 및 유사 음식점업' '호텔업' '과실 및 채소 소매업'
 '관광 민예품 및 선물용품 소매업' '기타 주점업' '기타음식료품위주종합소매업' '비알콜 음료점업' '빵 및 과자류 소매업'
 '서양식 음식점업' '그외 기타 종합 소매업' '기타 외국식 음식점업' '마사지업' '건강보조식품 소매업' '일식 음식점업'
 '면세점' '휴양콘도 운영업' '전시 및 행사 대행업' '정기 항공 운송업' '택시 운송업' '기타 수상오락 서비스업'
 '기타 대형 종합 소매업' '그외 기타 스포츠시설 운영업' '그외 기타 분류안된 오락관련 서비스업' '내항 여객 운송업']
고유값 갯수 : 40

In [24]:
# 성별 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2020['성별'].unique())
print("고유값 갯수 :", len(df_2020['성별'].unique()))

고유값 : ['남성' '여성']
고유값 갯수 : 2

In [25]:
# 데이터셋의 양적 변수 기초통계량 확인하기
df_2020.describe()

               이용자수          이용금액          거주인구          근무인구          방문인구
count  26938.000000  2.693800e+04  2.693800e+04  2.693800e+04  2.693800e+04
mean    1687.001559  5.497383e+07  5.048007e+06  4.845192e+05  2.670936e+06
std     4294.785712  1.569350e+08  4.805476e+06  5.041555e+05  1.979999e+06
min        1.000000  1.000000e+03  1.962967e+05  5.829597e+03  1.770581e+05
25%       43.000000  2.559070e+06  1.405820e+06  1.646633e+05  1.328997e+06
50%      265.000000  1.144897e+07  3.637984e+06  3.065900e+05  2.106176e+06
75%     1336.750000  4.482711e+07  6.650228e+06  5.613447e+05  3.375306e+06
max    71865.000000  4.924736e+09  2.163988e+07  2.591499e+06  9.337130e+06

#### 3. 2021년 데이터 불러오기 및 살펴보기(실습)
* 2021년(1월_5월): raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_(2101~2105).csv

In [26]:
# 필요한 라이브러리 Import
import pandas as pd

# 데이터 불러오기(df_2021)
df_2021 = pd.read_csv('raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_(2101~2105).csv', encoding = 'cp949')

In [28]:
# 데이터 확인
df_2021

,년월,시도명,읍면동명,업종명,성별,이용자수,이용금액,거주인구,근무인구,방문인구,데이터기준일자
0,21-Apr,서귀포시,남원읍,건강보조식품 소매업,남성,1,154400,5259552.532,512354.824,2970022.771,2021-07-26
1,21-Apr,서귀포시,남원읍,건강보조식품 소매업,법인,4,1582000,NaN,NaN,NaN,2021-07-26
2,21-Apr,서귀포시,남원읍,건강보조식품 소매업,여성,3,1352200,4752881.281,346315.058,2592163.631,2021-07-26
3,21-Apr,서귀포시,남원읍,골프장 운영업,남성,2709,346127640,5259552.532,512354.824,2970022.771,2021-07-26
4,21-Apr,서귀포시,남원읍,골프장 운영업,법인,1733,352463500,NaN,NaN,NaN,2021-07-26
...,...,...,...,...,...,...,...,...,...,...,...
16477,21-May,제주시,화북동,차량용 주유소 운영업,여성,2522,124664691,9630583.912,583684.718,2865379.078,2021-07-26
16478,21-May,제주시,화북동,일식 음식점업,남성,116,7826620,9070944.899,929529.133,3285263.301,2021-07-26
16479,21-May,제주시,화북동,육류 소매업,여성,550,31141750,9630583.912,583684.718,2865379.078,2021-07-26
16480,21-May,제주시,화북동,일식 음식점업,여성,49,2574000,9630583.912,583684.718,2865379.078,2021-07-26
16481,21-May,제주시,화북동,화장품 및 방향제 소매업,여성,95,11415550,9630583.912,583684.718,2865379.078,2021-07-26

In [ ]:
# 전체 데이터 수는? : 16481
# 변수의 수는? : 11

In [29]:
# 위에 5개 행 확인하기
df_2021.head(5)

,년월,시도명,읍면동명,업종명,성별,이용자수,이용금액,거주인구,근무인구,방문인구,데이터기준일자
0,21-Apr,서귀포시,남원읍,건강보조식품 소매업,남성,1,154400,5259552.532,512354.824,2970022.771,2021-07-26
1,21-Apr,서귀포시,남원읍,건강보조식품 소매업,법인,4,1582000,NaN,NaN,NaN,2021-07-26
2,21-Apr,서귀포시,남원읍,건강보조식품 소매업,여성,3,1352200,4752881.281,346315.058,2592163.631,2021-07-26
3,21-Apr,서귀포시,남원읍,골프장 운영업,남성,2709,346127640,5259552.532,512354.824,2970022.771,2021-07-26
4,21-Apr,서귀포시,남원읍,골프장 운영업,법인,1733,352463500,NaN,NaN,NaN,2021-07-26

In [30]:
# 아래에 5개 행 확인하기
df_2021.tail(5)

,년월,시도명,읍면동명,업종명,성별,이용자수,이용금액,거주인구,근무인구,방문인구,데이터기준일자
16477,21-May,제주시,화북동,차량용 주유소 운영업,여성,2522,124664691,9630583.912,583684.718,2865379.078,2021-07-26
16478,21-May,제주시,화북동,일식 음식점업,남성,116,7826620,9070944.899,929529.133,3285263.301,2021-07-26
16479,21-May,제주시,화북동,육류 소매업,여성,550,31141750,9630583.912,583684.718,2865379.078,2021-07-26
16480,21-May,제주시,화북동,일식 음식점업,여성,49,2574000,9630583.912,583684.718,2865379.078,2021-07-26
16481,21-May,제주시,화북동,화장품 및 방향제 소매업,여성,95,11415550,9630583.912,583684.718,2865379.078,2021-07-26

In [31]:
# 데이터셋의 변수명, 변수 유형 확인하기
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16482 entries, 0 to 16481
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       16482 non-null  object
 1   시도명      16482 non-null  object
 2   읍면동명     16482 non-null  object
 3   업종명      16482 non-null  object
 4   성별       16482 non-null  object
 5   이용자수     16482 non-null  int64
 6   이용금액     16482 non-null  int64
 7   거주인구     11043 non-null  float64
 8   근무인구     11043 non-null  float64
 9   방문인구     11043 non-null  float64
 10  데이터기준일자  16482 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 1.4+ MB

In [ ]:
# 질적변수는? :
# 양적변수는? :

In [32]:
# 결측치 확인
missing_values = df_2021.isnull().sum()
print(missing_values)

년월            0
시도명           0
읍면동명          0
업종명           0
성별            0
이용자수          0
이용금액          0
거주인구       5439
근무인구       5439
방문인구       5439
데이터기준일자       0
dtype: int64

In [33]:
# 년월 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2021['년월'].unique())
print("고유값 갯수 :", len(df_2021['년월'].unique()))

고유값 : ['21-Apr' '21-Feb' '21-Jan' '21-Mar' '21-May']
고유값 갯수 : 5

In [34]:
# 시도명 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2021['시도명'].unique())
print("고유값 갯수 :", len(df_2021['시도명'].unique()))

고유값 : ['서귀포시' '제주시']
고유값 갯수 : 2

In [35]:
# 읍면동명 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2021['읍면동명'].unique())
print("고유값 갯수 :", len(df_2021['읍면동명'].unique()))

고유값 : ['남원읍' '봉개동' '대륜동' '대정읍' '동홍동' '대천동' '예래동' '서홍동' '성산읍' '송산동' '영천동' '안덕면'
 '정방동' '표선면' '중앙동' '중문동' '구좌읍' '천지동' '노형동' '효돈동' '건입동' '도두동' '삼도1동' '용담2동'
 '삼양동' '삼도2동' '아라동' '애월읍' '연동' '외도동' '오라동' '용담1동' '화북동' '추자면' '우도면' '이도1동'
 '이도2동' '일도1동' '이호동' '일도2동' '조천읍' '한경면' '한림읍']
고유값 갯수 : 43

In [36]:
# 업종명 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2021['업종명'].unique())
print("고유값 갯수 :", len(df_2021['업종명'].unique()))

고유값 : ['건강보조식품 소매업' '골프장 운영업' '과실 및 채소 소매업' '기타 주점업' '관광 민예품 및 선물용품 소매업'
 '그외 기타 종합 소매업' '기타 외국식 음식점업' '빵 및 과자류 소매업' '기타음식료품위주종합소매업'
 '스포츠 및 레크레이션 용품 임대업' '서양식 음식점업' '수산물 소매업' '비알콜 음료점업' '슈퍼마켓' '여관업' '욕탕업'
 '육류 소매업' '일반유흥 주점업' '일식 음식점업' '전시 및 행사 대행업' '중식 음식점업' '차량용 가스 충전업'
 '차량용 주유소 운영업' '체인화 편의점' '피자, 햄버거, 샌드위치 및 유사 음식점업' '한식 음식점업'
 '화장품 및 방향제 소매업' '휴양콘도 운영업' '기타 대형 종합 소매업' '마사지업' '호텔업'
 '그외 기타 분류안된 오락관련 서비스업' '그외 기타 스포츠시설 운영업' '여행사업' '기타 수상오락 서비스업'
 '내항 여객 운송업' '면세점' '택시 운송업' '자동차 임대업' '기타 갬블링 및 베팅업' '정기 항공 운송업']
고유값 갯수 : 41

In [ ]:
# 성별 변수의 고유값과 그 갯수 확인하기
print("고유값 :", df_2021['성별'].unique())
print("고유값 갯수 :", len(df_2021['성별'].unique()))

In [37]:
# 데이터셋의 양적 변수 기초통계량 확인하기
df_2021.describe()

               이용자수          이용금액          거주인구          근무인구          방문인구
count  16482.000000  1.648200e+04  1.104300e+04  1.104300e+04  1.104300e+04
mean    1246.580755  4.923556e+07  5.450775e+06  4.824043e+05  2.775220e+06
std     3361.316804  1.471282e+08  5.198870e+06  4.920294e+05  2.008098e+06
min        1.000000  1.000000e+03  2.566975e+05  5.129091e+03  1.704042e+05
25%       29.000000  2.291350e+06  1.437615e+06  1.673593e+05  1.409236e+06
50%      185.000000  1.006532e+07  3.901746e+06  3.134569e+05  2.223273e+06
75%      943.000000  3.951702e+07  7.103640e+06  5.452047e+05  3.428074e+06
max    59021.000000  5.250293e+09  2.240200e+07  2.502386e+06  9.425705e+06

#### 연도별 데이터의 차이점?
* 결측치?
* 변수별 고유값 수 차이?

#### 어떤 데이터를 비교해볼까요?

# 다음 '데이터 클랜징'에서 다시 뵙겠습니다.
# 감사합니다.