# 도전! 데이터 분석
## 기초 통계량과 데이터 시각화를 통한 인사이트 도출 실습 과정입니다.

* 먼저, 데이터를 불러와서 구조와 변수를 확인하겠습니다.
    * 제주도 내 상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터
    * 음면동, 업종명, 이용금액, 거주인구 등 정보 제공
    * 2019년 : raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_19.csv
    * 2020년 : raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_20(수정).csv
    * 2021년(1월_5월): raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_(2101~2105).csv

#### 1. 2019년 데이터 불러오기 및 기초 통계량 확인

* 대표값(평균, 중앙값) 확인하기
* 분산 확인하기

In [1]:
# 필요한 라이브러리 Import
import pandas as pd

# 데이터 불러오기
df_2019 = pd.read_csv('raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_19.csv', encoding = 'cp949')

In [2]:
# 데이터 확인
df_2019

,년월,시도명,읍면동명,업종명,성별,이용자수,이용금액,거주인구,근무인구,방문인구,데이터기준일자
0,2019-01-01,제주시,화북동,과실 및 채소 소매업,여성,155,11202300,9078626.288,539749.963,2866049.927,2020-12-15
1,2019-01-01,제주시,화북동,비알콜 음료점업,여성,1184,9674400,9078626.288,539749.963,2866049.927,2020-12-15
2,2019-01-01,제주시,화북동,기타 외국식 음식점업,여성,412,14592800,9078626.288,539749.963,2866049.927,2020-12-15
3,2019-01-01,제주시,화북동,기타 대형 종합 소매업,여성,4176,168038410,9078626.288,539749.963,2866049.927,2020-12-15
4,2019-01-01,제주시,화북동,관광 민예품 및 선물용품 소매업,여성,99,7165200,9078626.288,539749.963,2866049.927,2020-12-15
...,...,...,...,...,...,...,...,...,...,...,...
27411,2019-12-01,제주시,화북동,한식 음식점업,여성,5163,170629710,7706780.511,895520.731,3674034.647,2020-12-15
27412,2019-12-01,제주시,화북동,화장품 및 방향제 소매업,여성,187,14738370,7706780.511,895520.731,3674034.647,2020-12-15
27413,2019-12-01,제주시,봉개동,한식 음식점업,남성,2046,62019240,1461151.063,489270.669,1861857.723,2020-12-15
27414,2019-12-01,제주시,화북동,차량용 가스 충전업,여성,367,14734053,7706780.511,895520.731,3674034.647,2020-12-15
27415,2019-12-01,제주시,화북동,차량용 주유소 운영업,여성,3059,146455990,7706780.511,895520.731,3674034.647,2020-12-15

In [4]:
df_2019['년월'] = pd.to_datetime(df_2019['년월'])

# 연도와 월 추출
df_2019['연도'] = df_2019['년월'].dt.year
df_2019['월'] = df_2019['년월'].dt.month.astype(int)

In [5]:
# 데이터 확인
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27416 entries, 0 to 27415
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       27416 non-null  datetime64[ns]
 1   시도명      27416 non-null  object
 2   읍면동명     27416 non-null  object
 3   업종명      27416 non-null  object
 4   성별       27416 non-null  object
 5   이용자수     27416 non-null  int64
 6   이용금액     27416 non-null  int64
 7   거주인구     27416 non-null  float64
 8   근무인구     27416 non-null  float64
 9   방문인구     27416 non-null  float64
 10  데이터기준일자  27416 non-null  object
 11  연도       27416 non-null  int32
 12  월        27416 non-null  int64
dtypes: datetime64[ns](1), float64(3), int32(1), int64(3), object(5)
memory usage: 2.6+ MB

In [6]:
# 데이터 확인
df_2019

,년월,시도명,읍면동명,업종명,성별,이용자수,이용금액,거주인구,근무인구,방문인구,데이터기준일자,연도,월
0,2019-01-01,제주시,화북동,과실 및 채소 소매업,여성,155,11202300,9078626.288,539749.963,2866049.927,2020-12-15,2019,1
1,2019-01-01,제주시,화북동,비알콜 음료점업,여성,1184,9674400,9078626.288,539749.963,2866049.927,2020-12-15,2019,1
2,2019-01-01,제주시,화북동,기타 외국식 음식점업,여성,412,14592800,9078626.288,539749.963,2866049.927,2020-12-15,2019,1
3,2019-01-01,제주시,화북동,기타 대형 종합 소매업,여성,4176,168038410,9078626.288,539749.963,2866049.927,2020-12-15,2019,1
4,2019-01-01,제주시,화북동,관광 민예품 및 선물용품 소매업,여성,99,7165200,9078626.288,539749.963,2866049.927,2020-12-15,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27411,2019-12-01,제주시,화북동,한식 음식점업,여성,5163,170629710,7706780.511,895520.731,3674034.647,2020-12-15,2019,12
27412,2019-12-01,제주시,화북동,화장품 및 방향제 소매업,여성,187,14738370,7706780.511,895520.731,3674034.647,2020-12-15,2019,12
27413,2019-12-01,제주시,봉개동,한식 음식점업,남성,2046,62019240,1461151.063,489270.669,1861857.723,2020-12-15,2019,12
27414,2019-12-01,제주시,화북동,차량용 가스 충전업,여성,367,14734053,7706780.511,895520.731,3674034.647,2020-12-15,2019,12
27415,2019-12-01,제주시,화북동,차량용 주유소 운영업,여성,3059,146455990,7706780.511,895520.731,3674034.647,2020-12-15,2019,12

In [7]:
# 읍면동별로 그룹화하여 월간 총 합계 계산
result = df_2019.groupby(['읍면동명','월'])

# 필요한 열 선택
result = result[['이용금액']].sum()

# 결과 출력
result

               이용금액
읍면동명 월
건입동  1   1878241587
     2   1662603368
     3   1777533429
     4   1802117573
     5   1967433080
...             ...
효돈동  8    476987100
     9    400323102
     10   438898595
     11   385645844
     12   459559126

[516 rows x 1 columns]

* 기초통계량 확인
    * Check1. 평균, 분산 확인하기
    * Check2. 범위 확인하기(Max-min)
    * Check3. 중위값과 평균 비교하기

In [8]:
# 1. 양적변수 기초통계량 확인
## 출력 옵션 설정
pd.options.display.float_format = '{:.0f}'.format

## 데이터 프레임에서 기초 통계량 확인하기 : 평균, 중앙값, 분산
result.describe()

             이용금액
count         516
mean   3246906857
std    2937889795
min     105054230
25%    1454085416
50%    2330416930
75%    3803776325
max   14480014358

In [9]:
# 2. 필터링으로 기초통계량 확인하기 : 건입동의 기초통계량

## 데이터 프레임에서 기초 통계량 확인하기 : 평균, 중앙값, 분산
result.loc['건입동'].describe()

            이용금액
count         12
mean  1861342172
std    115718418
min   1662603368
25%   1796290850
50%   1855623411
75%   1911151963
max   2124008110

#### 2. 2020년 데이터 불러오기 및 기초 통계량 확인(실습)
* 2020년 : raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_20(수정).csv

* 대표값(평균, 중앙값, 최빈값) 확인하기
* 분산 확인하기

In [10]:
# 필요한 라이브러리 Import
import pandas as pd

# 데이터 불러오기
df_2020 = pd.read_csv('raw_data/제주특별자치도_주제3_상권분석을 위한 유동인구에 따른 카드 매출액 변화 데이터 활용_매쉬업결과_20(수정).csv', encoding = 'cp949')

In [12]:
# 데이터 확인
df_2020

,년월,시도명,읍면동명,업종명,성별,이용자수,이용금액,거주인구,근무인구,방문인구,데이터기준일자
0,2020-01-01,서귀포시,남원읍,골프장 운영업,남성,1980,297727940,4869067,444320,3304303,2020-12-15
1,2020-01-01,제주시,외도동,수산물 소매업,남성,75,4657000,3651449,197093,1837113,2020-12-15
2,2020-01-01,제주시,오라동,중식 음식점업,남성,283,9340000,4759442,595571,4993517,2020-12-15
3,2020-01-01,제주시,오라동,자동차 임대업,남성,293,16523986,4759442,595571,4993517,2020-12-15
4,2020-01-01,제주시,오라동,스포츠 및 레크레이션 용품 임대업,남성,407,37918500,4759442,595571,4993517,2020-12-15
...,...,...,...,...,...,...,...,...,...,...,...
26933,2020-12-01,서귀포시,천지동,건강보조식품 소매업,남성,31,4654100,326640,36434,629487,2021-07-26
26934,2020-12-01,서귀포시,천지동,건강보조식품 소매업,여성,25,3073660,270265,28778,551171,2021-07-26
26935,2020-12-01,서귀포시,천지동,과실 및 채소 소매업,남성,2561,93739250,326640,36434,629487,2021-07-26
26936,2020-12-01,서귀포시,천지동,과실 및 채소 소매업,여성,2342,77394645,270265,28778,551171,2021-07-26
26937,2020-12-01,제주시,화북동,화장품 및 방향제 소매업,여성,83,7820920,10145666,636525,2798815,2021-07-26

In [28]:
# 연도와 월 추출
df_2020['년월'] = pd.to_datetime(df_2020['년월'])
df_2020['연도'] = df_2020['년월'].dt.year
df_2020['월'] = df_2020['년월'].dt.month.astype(int)

In [22]:
# 데이터 확인
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26938 entries, 0 to 26937
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   년월       26938 non-null  datetime64[ns]
 1   시도명      26938 non-null  object
 2   읍면동명     26938 non-null  object
 3   업종명      26938 non-null  object
 4   성별       26938 non-null  object
 5   이용자수     26938 non-null  int64
 6   이용금액     26938 non-null  int64
 7   거주인구     26938 non-null  float64
 8   근무인구     26938 non-null  float64
 9   방문인구     26938 non-null  float64
 10  데이터기준일자  26938 non-null  object
 11  연도       26938 non-null  int32
 12  월        26938 non-null  int64
dtypes: datetime64[ns](1), float64(3), int32(1), int64(3), object(5)
memory usage: 2.6+ MB

In [23]:
# 데이터 확인
df_2020

,년월,시도명,읍면동명,업종명,성별,이용자수,이용금액,거주인구,근무인구,방문인구,데이터기준일자,연도,월
0,2020-01-01,서귀포시,남원읍,골프장 운영업,남성,1980,297727940,4869067,444320,3304303,2020-12-15,2020,1
1,2020-01-01,제주시,외도동,수산물 소매업,남성,75,4657000,3651449,197093,1837113,2020-12-15,2020,1
2,2020-01-01,제주시,오라동,중식 음식점업,남성,283,9340000,4759442,595571,4993517,2020-12-15,2020,1
3,2020-01-01,제주시,오라동,자동차 임대업,남성,293,16523986,4759442,595571,4993517,2020-12-15,2020,1
4,2020-01-01,제주시,오라동,스포츠 및 레크레이션 용품 임대업,남성,407,37918500,4759442,595571,4993517,2020-12-15,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
26933,2020-12-01,서귀포시,천지동,건강보조식품 소매업,남성,31,4654100,326640,36434,629487,2021-07-26,2020,12
26934,2020-12-01,서귀포시,천지동,건강보조식품 소매업,여성,25,3073660,270265,28778,551171,2021-07-26,2020,12
26935,2020-12-01,서귀포시,천지동,과실 및 채소 소매업,남성,2561,93739250,326640,36434,629487,2021-07-26,2020,12
26936,2020-12-01,서귀포시,천지동,과실 및 채소 소매업,여성,2342,77394645,270265,28778,551171,2021-07-26,2020,12
26937,2020-12-01,제주시,화북동,화장품 및 방향제 소매업,여성,83,7820920,10145666,636525,2798815,2021-07-26,2020,12

In [24]:
# 읍면동별로 그룹화하여 월간 총 합계 계산
result = df_2020.groupby(['읍면동명','월'])

# 필요한 열 선택
result = result[['이용금액']].sum()

# 결과 출력
result

               이용금액
읍면동명 월
건입동  1   1795496331
     2   1257159030
     3   1326686351
     4   1390049552
     5   1771285697
...             ...
효돈동  8    473560896
     9    382912958
     10   438682079
     11   410230948
     12   373854049

[515 rows x 1 columns]

* 기초통계량 확인
    * Check1. 평균, 분산 확인하기
    * Check2. 범위 확인하기(Max-min)
    * Check3. 중위값과 평균 비교하기

In [25]:
# 1. 양적변수 기초통계량 확인
## 출력 옵션 설정
pd.options.display.float_format = '{:.0f}'.format

## 데이터 프레임에서 기초 통계량 확인하기 : 평균, 중앙값, 분산
result.describe()

             이용금액
count         515
mean   2875504918
std    2450643588
min     105147105
25%    1342175285
50%    2085669948
75%    3565039514
max   12807606092

In [27]:
# 2. 필터링으로 기초통계량 확인하기 : 건입동의 기초통계량

## 데이터 프레임에서 기초 통계량 확인하기 : 평균, 중앙값, 분산
result.loc['건입동'].describe()

            이용금액
count         12
mean  1624900940
std    233425694
min   1257159030
25%   1385655291
50%   1739856886
75%   1777338356
max   1967115481

# 다음 '데이터 시각화'에서 다시 뵙겠습니다.
# 감사합니다.